<div class="footer-container">
  <div class="contact no-print">
    <img src="{{ logoLink }}" class="footer-logo" alt="Smoothstack Logo" (click)="goToSSWebsite()"><br />
    <p>Transforming enterprises by arming talent with the exact job skills needed.
    </p>
    <div>
      <button theme="primary" class="msg-btn" (click)="goToSSWebsite()">Send us a message</button>
      <button class="share-icon" theme="icon" icon="twitter" (click)="shareLinks('twitter')"></button>
      <button class="share-icon" theme="icon" icon="linkedin" (click)="shareLinks('linkedin')"></button>
      <button class="share-icon" theme="icon" icon="facebook" (click)="shareLinks('facebook')"></button>
    </div>
  </div>
  <div class="footer-section">
    <a href="https://smoothstack.com/find-tech-talent/" target="_blank">For <strong>Companies</strong></a>
    <ul class="no-bullets">
      <li><a href="https://smoothstack.com/industries/" target="_blank">Industry Expertise</a></li>
      <li><a href="https://smoothstack.com/why-smoothstack/" target="_blank">Why Smooothstack</a></li>
      <li><a href="https://smoothstack.com/technology-partnerships/" target="_blank">Technology Partners</a></li>
    </ul>
  </div>
  <div class="footer-section">
    <a href="https://smoothstack.com/careers/" target="_blank">For <strong>Candidates</strong></a>
    <ul class="no-bullets">
      <li><a href="https://smoothstack.com/who-we-help/" target="_blank">Who We Help</a></li>
      <li><a href="https://jobs.smoothstack.com/jobs/7xjpg0/1" target="_blank">Apply Now</a></li>
    </ul>
  </div>
  <div class="footer-section">
    <a href="https://smoothstack.com/about/" target="_blank"><strong>About</strong></a>
    <ul class="no-bullets">
      <li><a href="https://smoothstack.com/about/our-team/" target="_blank">Our Team</a></li>
      <li><a href="https://smoothstack.com/universities-career-development/" target="_blank">Our College Partnerships</a></li>
    </ul>
  </div>
  <div class="footer-section">
    <a href="https://smoothstack.com/resources/" target="_blank"><strong>Resources</strong></a>
    <ul class="no-bullets">
      <li><a href="https://smoothstack.com/contact-smoothstack/" target="_blank">Contact</a></li>
    </ul>
  </div>
  <div class="copyright">
    <span>&copy; {{currentYear}} Smoothstack</span>
  </div>
</div>