<div class="footer-container">
    <div class="about">
      <h2>About Smoothstack</h2>
      <span>Smoothstack is a technology talent incubator whose immersive training program kick starts IT careers and delivers a fresh source of IT talent.
       <br /><a href="{{ learnMoreWPLink }}">Learn more</a>.</span>
    </div>
    <div class="location">
      <h2>Location</h2>
      <span>
        <strong>HQ:</strong> <br />
        Smoothstack<br />
        8200 Greensboro Dr<br />
        Suite 900<br />
        McLean VA 22102<br />
        <br />
        <!-- <strong>Office Address:</strong><br />
        14220 Dav Rd<br />
        Rockville, MD 20850<br /> -->
      </span>
    </div>
    <div class="contact no-print">
      <img src="{{ logoLink }}" class="footer-logo" alt="Smoothstack Logo"><br />
      <h2>Connect with Us</h2>
      <div>
        <button theme="icon" icon="facebook" (click)="shareLinks('facebook')"></button>
        <button theme="icon" icon="twitter" (click)="shareLinks('twitter')"></button>
        <button theme="icon" icon="linkedin" (click)="shareLinks('linkedin')"></button>
      </div>
    </div>
    <div class="copyright">
      <span>&copy; 2022 Smoothstack | <a href="{{ privacyWPLink }}" >Privacy</a></span>
    </div>
</div>