.footer-container {
    font-family: "Space Grotesk",sans-serif;
    min-height: 4rem;
    background-color: #010147;
    color:white;
    font-size: 1em;
    font-weight: 500;
    display: flex;
    flex-wrap: wrap;
    padding: 3% 8%;
    margin-top:4rem;
    h2 {
        font-family: "Space Grotesk",sans-serif;
        font-weight: bold;
        font-size: 2em;
        margin-bottom: 4px;
    }
    span {
        font-family: "Inter",sans-serif;
        font-weight: 350;
        font-size: 1.2em;
        line-height: 1.8rem;
    }
    .title, .about, .location {
        padding: 0 1.5em;
    }
    .title {
        color: white;
        font-size: 2em;
    }
    .about {
        flex: 30%;
        min-height: 5em;
    }
    .location {
        flex: 30%;
        min-height: 5em;
    }
    .contact {
        flex: 40%;
        min-height: 5em;
    }
    .copyright {
        flex: 100%;
        min-height: 5em;
        margin-bottom: 2rem;
        display: flex;
        align-items: flex-end; 
        justify-content: center; 
        overflow: hidden;
    }
    .footer-logo {
        width: 25em;
        padding: 1.5em 0em;
    }
    a {
        color:#7857FF;
    }

    @media (max-width:900px) {
        padding: 2% 2%;
        h2 {
            font-size: 1.5em;
        }
        .title, span {
            font-size: 1em;
        }
        .about, .location, .contact {
            flex: 100%;
        }
        .footer-logo {
            width: 15em;
        }
        .contact {
            padding: 0 1.5em;
        }
    }
}



