:host {
  /deep/footer {
    display: flex;
    flex-flow: column;
    align-items: center;
    button {
      max-width: 80%;
    }
  }

  /deep/.modal-close {
    display: none;
  }

  h2 {
    color: #818791;
  }

  strong {
    color: #63666c;
  }
}
