.background {
  overflow-x: hidden;
  background-color: #f4f4f4;
  max-height: calc(100vh - 55px);
  height: calc(100vh - 55px);
  h1 {
    color: #818791;
  }

  h2 {
    color: #63666c;
  }
  
  .success-container {
    margin: 0% 3%;
    padding: 3%;

    .success-content-container {
      display: flex;
      justify-content: flex-start;
      margin-bottom: 2rem;
    }

    .iframe-div {
      display: block;
      flex: 0 0 65%;
      width: 100%;
      height: 100%;
      position: relative;
      overflow-x: scroll;
      order: 1;
    }
    
    .success-iframe {
      border: none;
      width: 100%;
      height: 75vh;
    }

    .challenge-info {
      display: block;
      word-break: break-word;
      flex: 0 0 25%;
      width: 100%;
      padding-left: 2rem;
      order: 1;
    }

    .challenge-info-box {
      background-color: #fafafa;
      border-radius: 2%;
      padding: 1rem;
    }

    .coding-challenge-details {
      font-size: 1.1rem;
    }

    .back-btn {
      margin-top: 1rem;
      float: right;
    }

    @media (max-width: 600px) {
      .challenge-info {
        flex: 0 0 100%;
        padding: 1rem;
        order: 1;
      }
      .iframe-div {
        flex: 0 0 100%;
        order: 2;
      }
      .success-content-container {
        flex-direction: column;
      }
    }
  }

  .thankyou-content-container {
    max-width: 1000px;

    .back-btn {
      margin-top: 1rem;
      margin-right: 2rem;
      float: right;
      font-size: 1.5rem;
    }
  }
}

