.background {
  overflow-x: hidden;
  background-color: #f4f4f4;
  max-height: calc(100vh - 55px);
  height: calc(100vh - 55px);
  .job-container {
    margin: 0% 3%;
    padding: 3%;
    background-color: #ffffff;
    &.safari-scroll {
      height: 100%;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
    }
    > button[theme='dialogue'] {
      margin: -10px -15px 20px -15px;
    }
    .job-description-container {
      display: flex;
      justify-content: space-between;
    }
    .job-description-text {
      display: block;
      max-width: 50%;
      word-break: break-word;
    }
    .job-header {
      div.job-info-container {
        margin: 30px 0px;
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        .job-info {
          color: #0b344f;
          padding: 10px 10px;
          margin: 5px;
          background-color: #f4f4f4;
          border-radius: 8px;
          align-self: center;
          i {
            font-size: 1em;
          }
        }
      }
      .job-title {
        font-size: 2em;
        font-weight: 600;
      }
    }
    .share {
      display: flex;
      margin-top: 50px;
      margin-bottom: 100px;
      button {
        margin-right: 20px;
      }
    }
    .category {
      font-weight: 600;
      display: inline-block;
      font-size: 1.3em;
      word-wrap: break-word;
      overflow: hidden;
      color: #4a89dc;
      padding-top: 15px;
    }
    app-apply-form {
      transform: translateY(-250px)
    }
  }
}

@media only screen and (max-width: 768px) {
  :host {
    .job-description-container {
      flex-direction: column-reverse;
    }
    .job-description-text {
      max-width: none!important;
    }
    .background > .job-container {
      margin: 0%;
    }
    app-apply-form {
      transform: none!important;
    }
  }
}

novo-loading {
  padding: 20px;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: absolute;
  align-items: center;
  width: 100%;
  justify-content: center;
}
