:host {
  novo-notification > section i.indicator {
    display: none;
  }

  novo-modal > section {
    font-family: 'Inter', sans-serif;
    font-size: 1.2em;
    color: #010147 !important;
    line-height: 1.8em;
    padding-top: 0px;

    div > h2 {
      font-family: Inter, sans-serif;
      font-weight: 600;
      font-size: 1.8em;
      line-height: 1.8em;
      color: #010147 !important;
    }

    div > h3 {
      font-family: Inter, sans-serif;
      font-weight: 500;
      font-size: 1.4em;
      line-height: 1.8em;
      color: #010147 !important;
    }
  }

  novo-modal > header {
    text-align: right;
    padding: 0px;
  }
}
