nova-toast,
novo-toast.success,
.toast-container,
.toast-content,
.success-alert {
  font-family: 'Inter', sans-serif !important;
  background-color: #7857ff !important;
}

:host {
  min-width: 30%;
  nova-toast,
  novo-toast.success,
  .toast-container,
  .toast-content,
  .success-alert {
    font-family: 'Inter', sans-serif !important;
    background-color: #7857ff !important;
  }
  /deep/novo-card {
    .novo-card {
      header {
        background: #7857ff;
      }
      border-radius: 1em !important;
    }
  }
  section {
    overflow: auto;
  }
  .job-details {
    padding: 0px 0px 5px 15px;
    .separator {
      padding: 0px 5px;
    }
  }
  /deep/novo-form {
    novo-tiles {
      color: #010147;
      .tile-container {
        flex-wrap: wrap;
        border: hidden;
        .tile:not(.disabled).active {
          background: #010147;
          color: #fff;
        }
        .tile:not(.disabled):hover {
          background-color: #010147;
          color: #fff;
        }
        .tile {
          border: solid thin #010147;
          border-radius: 5px !important;
          margin: 3px;
          padding: 10px;
        }
        span.active-indicator {
          display: none;
        }
      }
    }
    novo-control.tiles {
      label.novo-control-label {
        width: auto !important;
        transform: translateY(-125%) !important;
        white-space: normal !important;
        overflow-x: visible !important;
      }
      div:has(> div[data-automation-id='hardwareSkillsLabel']) {
        display: none !important;
      }
      div:has(> div[data-automation-id='voluntaryLabel']) {
        display: none !important;
      }
      div:has(> div[data-automation-id='physicalRequirementsLabel']) {
        display: none !important;
      }
    }
    .novo-form-container {
      width: 98%;
    }
    header {
      display: none;
    }
    padding: 10px 0px;

    .eeoc-form h2 {
      padding-bottom: 10px;
    }
    .ext-container {
      left: 22px;
      margin-left: 22px;
      margin-right: 6px;
      padding-left: 5px;
    }
    .ext-label {
      text-transform: uppercase;
      font-size: 1.2em;
      color: #010147 !important;
      font-weight: 500;
    }
    .ext-icon > i {
      color: #010147 !important;
      font-size: 1em !important;
      cursor: pointer;
    }
    .ext-label .ext-tooltip {
      color: #010147 !important;
      background-color: white !important;
    }
  }
  span.error {
    color: #010147;
    font-weight: 600;
  }
  .apply-card {
    display: block;
    max-width: 600px;
    .apply-card-footer {
      display: flex;
      flex-flow: column;
      align-items: center;
      .apply-button {
        font-size: 1.2em;
        background-color: #7857ff;
        border-radius: 8px;
        width: 98%;
      }
      .apply-button:hover {
        background-color: #010147;
      }
      .applied-text {
        color: #010147;
        font-size: small;
        align-self: flex-start;
        padding-left: 20px;
        font-weight: bold;
      }
    }
  }
}

@media only screen and (max-width: 700px), (max-height: 700px) {
  :host {
    max-width: 90vw;
    min-width: unset;
    align-self: start;
    padding-bottom: 30px;
    novo-form {
      overflow-x: hidden;
    }
  }
}
