<novo-card [title]="formTitle" class="apply-card">
  <section *ngIf="!loading">
    <novo-form [form]="form" layout="vertical">
      <div *ngFor="let control of formControls" class="novo-form-row">
        <div *ngIf="control.__config.extLabel"
              class="ext-container"
        >
          <label class="ext-label" >
            {{ control.__config.extLabel }}
            <span 
              *ngIf="control.__config.extToolTip" 
              [tooltip]="control.__config.extToolTip.content"
              tooltipPosition="right"
              >
              <novo-icon
                class="ext-icon"
                [color]="control.__config.extToolTip.color"
                >
                {{ control.__config.extToolTip.icon }}
              </novo-icon>
            </span>
          </label>
        </div>
        <novo-control [form]="form" [control]="control" (edit)="handleEdit($event)" >
        </novo-control>
      </div>
    </novo-form>
    <span *ngIf="hasError" class="error">{{ 'ERROR_WHILE_APPLYING' | translate }}</span>
  </section>
  <div class="apply-card-footer">
    <button
      class="apply-button"
      theme="primary"
      color="pulse"
      [disabled]="alreadyApplied || !form.valid"
      (click)="save()"
      data-automation-id="create-modal-save"
      [loading]="applying"
    >
      {{ (!alreadyApplied ? 'APPLY' : 'ALREADY_APPLIED') | translate }}
    </button>
    <p class="applied-text" *ngIf="alreadyApplied">
      You can only submit one application. <br />
      You will be considered for multiple positions.
    </p>
  </div>
</novo-card>
