:host {
  min-width: 30%;
  /deep/novo-card {
    .novo-card {
      header {
        background: #E54F6D;
      }
      border-radius: 0em !important;
    }
  }
  section {
    overflow: auto;
  }
  .job-details {
    padding: 0px 0px 5px 15px;
    .separator {
      padding: 0px 5px;
    }
  }
  /deep/novo-form {
    novo-tiles {
      color: #5532C0;
      .tile-container {
        flex-wrap: wrap;
        border: hidden;
        .tile:not(.disabled).active {
          background: #5532C0;
          color: whitesmoke;
        }
        .tile:not(.disabled):hover {
          background-color: #5532C0;
          color: whitesmoke;
        }
        .tile {
          border: solid thin #5532C0;
          margin: 3px;
          padding: 10px;
        }
        span.active-indicator {
          display: none;
        }
      }
    }
    novo-control.tiles {
      label.novo-control-label {
        width: auto !important;
        transform: translateY(-125%) !important;
        white-space: normal !important;
        overflow-x: visible !important;
      }
      div:has(> div[data-automation-id="hardwareSkillsLabel"] ) {
        display: none !important;
      }
    }
    .novo-form-container {
      width: 95%;
    }
    header {
      display: none;
    }
    padding: 10px 0px;

    .eeoc-form h2 {
      padding-bottom: 10px;
    }
    .ext-container{
      left: 22px;
      max-width: 550px;
      margin-left: 22px;
      margin-right: 6px;
      padding-left: 5px;
    }
    .ext-label {
      text-transform: uppercase;
      font-size: 1.2em;
      color: #606060 !important;
      font-weight: 500;
    }
    .ext-icon > i {
      font-size: 1em !important;
    }
  }
  span.error {
    color: #da4453;
    font-weight: 800;
  }
  .apply-card {
    display: block;
    max-width: 600px;
    .apply-card-footer {
      display: flex;
      flex-flow: column;
      align-items: center;
      .apply-button {
        font-size: 1.2em;
        background-color: #5532C0;
        width: 98%;
      }
      .applied-text {
        color: #da4453;
        font-size: small;
        align-self: flex-start;
        padding-left: 20px;
        font-weight: bold;
      }
    }
  }
}

@media only screen and (max-width: 700px), (max-height: 700px) {
  :host {
    max-width: 90vw;
    min-width: unset;
    align-self: start;
    padding-bottom: 30px;
    novo-form {
      overflow-x:hidden;
    }
  }
}
