:host {
  min-width: 30%;
  /deep/novo-card {
    .novo-card {
      header {
        background: #662255;
      }
    }
  }
  section {
    overflow: auto;
  }
  .job-details {
    padding: 0px 0px 5px 15px;
    .separator {
      padding: 0px 5px;
    }
  }
  /deep/novo-form {
    novo-tiles {
      color: #662255;
      .tile-container {
        flex-wrap: wrap;
        border: hidden;
        .tile:not(.disabled).active {
          background: #662255;
          color: whitesmoke;
        }
        .tile:not(.disabled):hover {
          background-color: #662255;
          color: whitesmoke;
        }
        .tile {
          border: solid thin #662255;
          border-radius: 3px;
          margin: 3px;
          padding: 10px;
        }
        span.active-indicator {
          display: none;
        }
      }
    }
    novo-control.tiles {
      label.novo-control-label {
        width: auto !important;
        transform: translateY(-125%) !important;
        white-space: normal !important;
        overflow-x: visible !important;
      }
    }
    .novo-form-container {
      width: 93%;
    }
    header {
      display: none;
    }
    padding: 10px 0px;

    .eeoc-form h2 {
      padding-bottom: 10px;
    }
  }
  span.error {
    color: #da4453;
    font-weight: 800;
  }
  .apply-card {
    display: block;
    max-width: 600px;
    .apply-card-footer {
      display: flex;
      flex-flow: column;
      align-items: center;
      .apply-button {
        width: 93%;
      }
      .applied-text {
        color: #da4453;
        font-size: small;
        align-self: flex-start;
        padding-left: 20px;
        font-weight: bold;
      }
    }
  }
}

@media only screen and (max-width: 768px), (max-height: 700px) {
  :host {
    max-width: 90vw;
    min-width: unset;
    align-self: start;
    padding-bottom: 30px;
    // novo-form {
    //   max-height: calc(100vh - 113px);
    // }
    // section {
    //   max-height: calc(100vh - 180px);
    //   // height: calc(100vh - 230px);
    //   // width: 100vw;
    // }
  }
}
